* {
    box-sizing: border-box;
    animation-duration: 0.5s;
}

html, body {
    height: 100vh;
    width: 100vw;
    padding:0;
    margin:0;
}

body {
    background-image: url('https://s1.1zoom.me/b5149/878/Houses_Forests_Night_Christmas_tree_Snow_558737_1920x1080.jpg');
    background-size: cover;
    background-position: center center; 
} 

.title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.title-wrap h1 {
    font-family: 'Zapfino', cursive;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 20px;
    border-radius: 3px;
    color: white;
}

  

.container{
    display: flex;

}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}