body {
    background-color: #ed0a16;
    opacity: 0.8;
    background: linear-gradient(135deg, #5ff74455 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(225deg, #5ff744 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(315deg, #5ff74455 25%, transparent 25%) 0px 0/ 40px 40px, linear-gradient(45deg, #5ff744 25%, #ed0a16 25%) 0px 0/ 40px 40px;
}

.container {
    height: 200px;
    position: relative;
    border: 3px solid azure;
  }
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}