body {
    background-image: url(<iframe src="https://giphy.com/embed/3ohc12BzKkijRTbyhy" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/trippy-weird-psychedelic-3ohc12BzKkijRTbyhy">via GIPHY</a></p>);
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;    
} 